---
- name: Add {{ cwa_package }} key
  rpm_key:
    state: present
    key: "{{ cwa_package_gpg }}"
  tags:
    - add-key
    - download
    - install

- name: Download {{ cwa_package }}.rpm.sig
  get_url:
    url: "{{ cwa_package_signature }}"
    dest: "{{ cwa_temp_path }}/{{ cwa_package }}.rpm.sig"
    #force: true
    timeout: "{{ cwa_global_downloads_timeout }}"
  tags:
    - download-signature
    - verify-signature
    - download
    - install

- name: Download {{ cwa_package }}.rpm
  get_url:
    url: "{{ cwa_package_url }}"
    dest: "{{ cwa_temp_path }}/{{ cwa_package }}.rpm"
    #force: true
    timeout: "{{ cwa_global_downloads_timeout }}"
  tags:
    - download
    - verify-signature
    - install

- name: Verify {{ cwa_package }} package signature
  command: gpg --verify {{ cwa_package }}.rpm.sig {{ cwa_package }}.rpm
  register: verified_sig
  failed_when: "'BAD' in verified_sig.stderr"
  changed_when: false
  args:
    chdir: "{{ cwa_temp_path }}"
  tags:
    - verify-signature
    - install

- name: Install {{ cwa_package }} dependencies
  yum:
    name: "{{ cwa_dependencies_packages }}"
    state: present
  tags:
    - install

- name: Install {{ cwa_package }}.rpm
  yum:
    name: "{{ cwa_temp_path }}/{{ cwa_package }}.rpm"
    state: present
  tags:
    - install
